.root {
  text-align: center;
  padding: 20px;
  display: flex;
  gap: 10px;
  height: min-content;
}

.name {
  font-size: 24px;
}

.ubication {
  font-size: 20px;
  color: darkcyan;
}

.name,
.ubication {
  margin: 10px;
}

.picture_container {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 100%;
  height: auto;
}

.text {
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 676f58
bdc6b5 */
