.root {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* border-top: solid 1px #676f58; */
  background: #ebe8e3;
  margin-left: 50px;
  margin-right: 50px;
}
