.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{

  
}
.link:hover {
  cursor: pointer;
  color: antiquewhite;
  background-color: #676f588b;
  transition: 2s;
  border-radius: 20% 10% 65% 10% / 38% 9% 39% 13% ;
}